.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ohif-mobile-mode .ViewerMain {
  flex-direction: column;
}

.ohif-mobile-mode .viewport-container {
  width: 100vw;
  height: 70vh; /* Mayor área para el visor */
}

.ohif-mobile-mode .toolbar-section {
  height: 30vh;
  overflow-y: auto;
}

/* Ajustar íconos y botones */
.ohif-mobile-mode .ToolbarRow {
  overflow-x: scroll;
}

.ohif-mobile-mode .viewport-container canvas {
  max-width: 100%;
  height: auto;
}

.ohif-mobile-mode .header-brand {
  display: none;
}

.ohif-mobile-mode .header-menu {
  display: none;
}

.ohif-mobile-mode .header-studyListLinkSection {
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  font-size: 16px;
}

.ohif-mobile-mode .notification-bar{
  display: none;
}